{%extends 'inherite-temp/base.html'%}{%load bootstrap3%} {% load staticfiles %} {%block content%}

<div class="wrapper">
    {%if user.is_authenticated and user.groups.ride%}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>

    {%elif user.is_authenticated and user.groups.drive%}
    <p>laborum officia numquam soluta porro vero dolorum! Fuga odit</p>

    {%else%}
    <h1>
        <span class='get_there'>Get There</span>
    </h1>
    <h2>
        <span class='your_day'>Your day belongs to You</span>
    </h2>

    <div class="image">
        <img src="{% static 'img/uber_.jpg'%}" alt="Instagram" class="img-responsive" style='height:63vh;width:100%'>
    </div>
    {%endif%}
    

    <button type="" class="btn btn-success" id='driver'>Testing for the get request</button>

    <button type="" class="btn btn-danger" id='rider'>Testing for the get request</button>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/driver_ride.js'%}"></script>
    {% bootstrap_javascript %} {% endblock%} {%endblock%}