{%extends 'inherite-temp/base.html'%}{%load bootstrap3%} {% load staticfiles %} {%block content%}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                {%for user in profile%}
                <img src="{{user.picture.url}}" alt="" srcset="" style="margin-top: 0%; height: 251px; width: 94%; border-radius:4%; padding: 6px 6px 6px;">
                <h4>Username</h4>
                <h2>{{user.username}}</h2>
                <h4>Bio</h4>
                <p>{{user.bio}}</p>
                <hr>
                <h4>Email</h4>
                <h5>{{user.email}}</h5>
                <hr> 
                <div class="edit">
                    <a href="/profiles/edit/">Edit Profile</a>
                </div>
                {%endfor%}
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                <nav class="UnderlineNav-body" data-pjax="" role="navigation">
                    <a href="/toelapiut" class="UnderlineNav-item selected" aria-selected="true" role="tab" title="Overview">
                        Overview
                    </a>
                    <a href="#" class="UnderlineNav-item UnderlineNav-body " aria-selected="false" role="tab" title="Reviews">
                        Reviews
                        <!-- <span class="Counter"> -->
                        {{review.count}}
                        <!-- </span> -->
                    </a>
                    <a href="#" class="UnderlineNav-item " aria-selected="false" role="tab" title="Stars">
                        Stars
                        <!-- <span class="Counter"> -->
                        {{star.count}}
                        <!-- </span> -->
                    </a>
                    <a href="/profiles/edit/" class="UnderlineNav-item UnderlineNav-body " aria-selected="false" role="tab" title="Reviews">
                            Edit Profile
                        </a>

                </nav>
                <div class="content-wrapper">
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas porro quasi unde reprehenderit. Asperiores
                        placeat porro dolor provident, quae dolorum eos in mollitia assumenda minus nihil esse molestiae
                        laudantium! Molestias!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock%} {%endblock%}